# Python caches & environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Editor / workspace
.vscode/
*.code-workspace
.idea/

# Jupyter
.ipynb_checkpoints/

# Compressed data or backups
*.zip
*.tar.gz
